.btn {
    background: linear-gradient(270deg, #1DC6DD 0%, rgba(135, 87, 253, 0.907432) 46.87%, rgba(206, 12, 255, 0.854945) 100%);
    border: none;
    border-radius: 10px;
    font-family: Rog;
    padding: 5px 10px;
    cursor: pointer;
    color: #FFF;
}

.btn:hover {
    opacity: .8;
}
