@font-face {
  font-family: Rog;
  src: url('../public/fonts/7032-fontps.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, #root {
    height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("./img/bg-portifolio.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #FFF;
  text-decoration: none
}

